---
interface Props {
  list:string[],
  className:string,
}

const {
  list,
  className,
} = Astro.props;
---
{
  0 < list.length && (
      <div class={className}>
        {
          list.map((item) => {
            return (
              <span>
                #{item}
              </span>
            )
          })
        }
      </div>
    )
}